name: GitHub Action Caching

on:
    workflow_dispach:

jobs:
    creating-cache:
      name: caching node-modules
      runs-on: ubuntu-latest

      steps:
        - name: Checkout repo
          uses: actions/checkout@v4

        - name: Node Setup
          uses: actions/setup-node@v4

        - name: Cache node-modules
          uses: actions/cache@v3
          with:
            path: node_modules
            key: ${{ runner.os }}-node-modules-S{{ hashfiles('package.json.lock') }}

        - name: Install dependencies
          run: npm install

    testing-cache:
        name: testing node-modules cache
        runs-on: ubuntu-latest
        needs: creating-cache

        steps:
          - name: checkout repo
            uses: actions/checkout@v4

          - name: Node Setup
            uses: actions/setup-node@v4

          - name: Restore node-modules cache
            uses: actions/cache@v3
            with:
              path: node_modules
              key: ${{ runner.os }}-node-modules-S{{ hashfiles('package.json.lock') }}