name: Deploy app image on Kubernetes cluster using GitHub Actions

# This workflow runs ONLY when a GitHub Release is published
on:
  push:
    branches: [main]

permissions:
  contents: read    # default permission for code checkout

jobs:
  # Build:
  #   name: Create image of node app & push to DockerHub
  #   runs-on: ubuntu-latest
  #   environment:
  #     name: devops_demo

  #   steps:
  #     - name: Checkout Code
  #       uses: actions/checkout@v6

  #     - name: Setup Node
  #       uses: actions/setup-node@v6
  #       with:
  #         node-version: '20.x'
  #         cache: 'npm'

  #     - name: Install Packages
  #       run: npm ci

  #     - name: Docker login
  #       uses: docker/login-action@v3
  #       with:
  #         username: ${{ vars.DOCKERHUB_USERNAME }}
  #         password: ${{ secrets.DOCKERHUB_PASSWORD }}

  #     - name: Docker build & Push
  #       uses: docker/build-push-action@v6
  #       with:
  #         push: true
  #         tags: ${{ vars.DOCKERHUB_USERNAME }}/demo-node-app:${{ github.sha }}

  Deploy:
    name: Deploy docker image using Kubernetes Strategy
    runs-on: ubuntu-latest
    environment:
      name: devops_demo

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: kubectl install
        uses: azure/setup-kubectl@v4      # if version not specified, latest version kubectl will be used

      - name: Set KUBECONFIG context
        uses: azure/k8s-set-context@v4
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBECONFIG_CI }}

      - name: kubectl version check
        run: |
          kubectl version --client
          echo "-------------------------------"
          kubectl get all