name: Deploy app image on Kubernetes cluster using GitHub Actions

# This workflow runs ONLY when a GitHub Release is published
on:
  push:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  Build:
    name: Create image of node app & push to DockerHub
    runs-on: ubuntu-latest
    environment:
      name: devops_demo

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          cache: 'npm'

      - name: Install Packages
        run: |
          npm ci
          npm run build

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker build & Push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ vars.DOCKER_USERNAME }}/demo-node-app:${{ github.sha }}

  # Deploy:
  #   name: Deploy docker image using Kubernetes Strategy
  #   runs-on: ubuntu-latest

  #   - name: 

