name: GitHub Actions Caching

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
    creating-cache:
      name: caching node-modules
      runs-on: ubuntu-latest

      steps:
        - name: Checkout repo
          uses: actions/checkout@v4

        - name: Node Setup              # setup node
          uses: actions/setup-node@v4
          with:
            node-version: '20.x'

        - name: Install dependencies    # install dependencies
          run: npm install

        - name: Cache node-modules        # action to store data in cache
          uses: actions/cache@v4
          with:
            path: node_modules            # path of the file to be cached
            # key set for the installed dependency file, helps when restoring the cache.
            key: ${{ runner.os }}-node-modules-${{ hashFiles('package-lock.json') }}
            # hashFiles() built-in function - provides unique sha-256 value for the file

    testing-cache:
        name: testing node-modules cache
        runs-on: ubuntu-latest
        needs: creating-cache

        steps:
          - name: checkout repo
            uses: actions/checkout@v4

          - name: Node Setup
            uses: actions/setup-node@v4
            with:
              node-version: '20.x'

          - name: Restore node-modules cache          # Restore node_modules from cache using same action
            uses: actions/cache@v4
            with:
              path: node_modules
              # compares the package.json file in the repo with the hashFile saved on caching, and decides cache is valid
              # if repo package.json was updated after caching, cache is invalidated, new cache is creates on installing dependencies
              key: ${{ runner.os }}-node-modules-${{ hashFiles('package-lock.json') }}

            # Install again (npm will reuse existing node_modules) cache
          - name: Install dependencies (from cache)
            run: npm install