name: Caching Best Practice

on:
  push:
    branches: [ main ]

jobs:
  # First job - creates the cache
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: node setup & caching ~/.npm
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'  # Creates cache with key based on package-lock.json

      - name: Install Dependencies
        run: |
          npm ci
          npm run build

  # Second job - automatically restores the same cache
  test:
    runs-on: ubuntu-latest
    needs: build  # ensures build runs first & caches ~/.npm

    steps:
      - name: chceckoit code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'  # automatically finds and restores the cache

      # This will be faster because ~/.npm is already populated
      - name: Install Dependencies
        run: |
          npm ci
          npm run test
