name: Docker image to ghcr

on:
  push:
      branches: [main]
  workflow_dispatch:

jobs:
  Docker-Build-Push:
    name: Create image of app & push to DockerHub
    runs-on: ubuntu-latest
    environment: devops_demo

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: 'main'

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          cache: 'npm'                  # caches ~/.npm folder(tar ball cache & metadata cache)
          # it monitors the file changes to tell whether the cache is still balid or not on restore
          cache-dependency-path: package-lock.json   # cache is invalidated if there is a change in this file after caching

      - name: Install Dependencies
        run: |
          npm ci
          npm run build

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io                 # gihub packages registry for docker
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}   

      - name: Docker Build & Push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/js-hello-world:${{ github.sha }}