name: GitHub Action Caching

on:
  push:
      branches: [main]
  workflow_dispatch:

jobs:
  Docker-Build-Push:
    name: Create image of app & push to DockerHub
    runs-on: ubuntu-latest
    environment: devops_demo

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: 'main'

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          cache: 'npm'
          cache-dependency-path: package-lock.json
          registry-url: 'https://npm.pkg.github.com'
          scope: '@suryaprasathgss'

      - name: Install Dependencies
        run: |
          npm ci
          npm run build

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker Build & Push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/js-hello-world:${{ github.sha }}
